<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Ajouter</h3>
            </div>
            <div class="col-4 text-right">

                <!-- dropdown Etat-->
                <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Etat</button>

                <div class="dropdown-menu">
                    <li class="dropdown-item" (click)="changeStatus(true)">Actif</li>
                    <li class="dropdown-item" (click)="changeStatus(false)">Inactif</li>
                </div>
                <!-- Basic dropdown -->


            </div>
        </div>
    </div>
    <div class="card-body">
        <form (ngSubmit)="addUser()" #formulaire="ngForm">

            <h6 class="heading-small text-muted mb-4">Information</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <!-- Nom -->
                    <div class="col-lg-6">
                        <div class="form-group"><label class="form-control-label" for="nom">Nom</label>
                            <input type="text" id="nom" class="form-control" placeholder="nom" placeholder="Nom"
                                name="nom" ngModel #nom="ngModel" required>
                            <br>
                            <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">
                                Votre nom n'est pas valide
                            </div>
                        </div>
                    </div>

                    <!-- Prenom -->
                    <div class="col-lg-6">
                        <div class="form-group"><label class="form-control-label" for="prenom">Prenom
                            </label> <input type="text" id="prenom" class="form-control" placeholder="Prenom"
                                name="prenom" #prenom="ngModel" ngModel required>
                            <br>
                            <div class="alert alert-danger" *ngIf="prenom.invalid && prenom.touched">
                                Votre prénom n'est pas valide
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="row">
                    <!-- Email -->
                    <div class="col-lg-6">
                            <div class="form-group"><label class="form-control-label" for="">E-mail
                                </label> <input type="email" id="email" class="form-control" placeholder="E-mail" name="email"
                                    #email="ngModel" ngModel required email>
                                <br>
                                <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                                    Votre E-mail n'est pas valide
                                </div>
                            </div>
                    </div>
                    
                    <!-- Téléphone -->
                    <div class="col-lg-6">
                        <div class="form-group"><label class="form-control-label" for="input-last-name">Téléphone
                            </label> <input type="tel" id="tel" class="form-control" placeholder="Téléphone" name="tel"
                                #tel="ngModel" ngModel required minlength="8">
                            <br>
                            <div class="alert alert-danger" *ngIf="tel.invalid && tel.touched">
                                Votre telephone doit avoir au minimum 8 charactére
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4">
                Authentification</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <!-- Login -->
                    <div class="col-md-6">
                        <div class="form-group"><label class="form-control-label" for="input-address">Login</label>
                            <input id="login" class="form-control" placeholder="Login" type="text" ngModel required
                                minlength="3" #login="ngModel" name="login">
                            <br>
                            <div class="alert alert-danger" *ngIf="login.invalid && login.touched">
                                Votre login doit avoir au minimum 3 charactére
                            </div>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="col-md-6">
                        <div class="form-group"><label class="form-control-label" for="input-address">Password</label>
                            <input id="password" name="password" class="form-control" placeholder="Password" type="password"
                                #password="ngModel" ngModel required minlength="6">
                            <br>
                            <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                                Votre mot de passe doit avoir au minimum 6 charactére
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <!-- Buttons -->
            <button class="btn btn-primary" type="submit" style="margin-right: 5px;"
                [disabled]="formulaire.invalid">Ajouter</button>
            <button class="btn btn-danger" (click)= "onClear()">Annuler</button>


        </form>
    </div>
</div>